[submodule "biocro-dev"]
	path = biocro-dev
	url = https://github.com/ebimodeling/biocro-dev.git
	branch = soybean-biocro
[submodule "models/ePhotosynthesis_C"]
	path = models/ePhotosynthesis_C
	url = https://github.com/cropsinsilico/ePhotosynthesis_C.git
[submodule "models/BML-ePhotosynthesis"]
	path = models/BML-ePhotosynthesis
	url = https://github.com/Matthews-Research-Group/BML-ePhotosynthesis.git
