[submodule "biocro-dev"]
	path = biocro-dev
	url = https://github.com/ebimodeling/biocro-dev.git
	branch = soybean-biocro
[submodule "models/biocro-dev"]
	path = models/biocro-dev
	url = https://github.com/ebimodeling/biocro-dev.git
	branch = origin/ephoto_biocro
[submodule "models/ePhotosynthesis_C"]
	path = models/ePhotosynthesis_C
	url = https://github.com/cropsinsilico/ePhotosynthesis_C.git
